extends layout

block content
    div(class="header")
        h1 Documentation
        p Here lies the instructions on how to use the mashup application
    div(class="content")
        p these are the calls you can make through HTTP, returns JSON.
